@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Tahoma,Helvetica,STHeiti;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
} 
input, textarea, select,button {font-size: 100%;font-family: inherit;vertical-align:middle;}
textarea {resize:none;overflow:auto; }
a,a:link,a:visited,a:hover,a:active{text-decoration:none;}











body{
    font-family: "微软雅黑","Microsoft YaHei","Microsoft YaHei UI",Arial,SimSun,sans-serif !important;
}
.zuiwai{
    /* 禁止滑动栏滚动 */
    position: fixed;
    top:0;
	left:0;
    width: 100%;
    /* !important 优先级满级 */
	height: 100% !important;
}
.wrap{
    width: 100%;
	height: 100%;
    position: relative;
    /* 设置大黄色背景，布满整个页面 */
    background: url(新图/bg.png);
    background-size: 100% 100%;
    font-family: "微软雅黑","Microsoft YaHei","Microsoft YaHei UI",Arial,SimSun,sans-serif !important;
}

.wrap-auto {
	width: 16rem;
    height: 34.6rem;
    margin: 0 auto;
	position: absolute;
    /* 居中处理 */
    top:50%;
	left:50%;
    transform-origin:50% 0%;
    -ms-transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
    /* visibility: hidden; */
}
.loading{
    width: 16rem;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* visibility: hidden;  */
}
.loading-img{
    width: 2rem;
    height: 2rem;
    background: url(res/loading.gif) center center no-repeat;
    background-size: contain;
    position: relative;
    z-index: 10;
}
.loading-zi{
    color: #fff;
    position: relative;
    z-index: 10;
    margin-top: 1rem;
}
.loading-bg{
    width: 100%;
	height: 100%;
    background-color: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
/* 拖拽提示图片格式
将转圈图换成拖拽图 */
.loading-img.loadactive{
    width: 6.37rem;
    height: 7.25rem;
    background: url(res/tuozhuai.png) center center no-repeat;
    background-size: contain;
}

.w16{
    width: 16rem;
}

/* 进入之后的大背景 */
.year-end{
    height: 100%;
    /* 隐藏x轴的滚动条 */
    overflow-x: hidden;
    background: url(新图/首页.png) no-repeat;
    background-size: cover;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Tahoma,Helvetica,STHeiti;
}
.year-end-box{ 
    width: 16rem;
    height: 100%;
    overflow: hidden;
    position: relative;
}
/* 音频 */
.audio-box{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    background: url(res/play.png) no-repeat;
    background-size: cover;
    z-index: 101;
}
/* 音频动画 */
.audio-box{
    animation: round 5s linear infinite;
} 
@keyframes round {
    100% {
      transform: rotate(1turn);
    }
}

.audio-box audio{
    display: none;
}

/* 坑的整体属性 */
.year-end-fragment-indexBox{
    width: 16rem;
    height: 12.23rem;
    position: absolute;
    top: 0;
	left: 0;
	/* background: url(res/indexBox-bg.png) no-repeat; */
    background-size: cover;
    /* display: none; */
}
/* 坑的个体属性 */
.year-end-fragment-indexBox li{
    position: absolute;
    z-index: 0;
}


.fragment-index-1{
    width: 6.01rem;
    height: 5.08rem;
    left: 0.2rem;
    top: 7.4rem;
}
.fragment-index-2{
    width: 6.90rem;
	height: 5.99rem;
    left: 6.0rem;
    top: 6.4rem;
}
.fragment-index-3{
    width: 8.73rem;
    height: 9.45rem;
    left: 8.0rem;
    top: 0.15rem;
}
/* .fragment-index-4{
    width: 5.23rem;
    height: 5.08rem;
    left: 1.13rem;
    top: 7.14rem;
}
.fragment-index-5{
    width: 5.66rem;
    height: 5.01rem;
    left: 5.25rem;
    top: 7.21rem;
}
.fragment-index-6{
    width: 4.54rem;
    height: 6.31rem;
    left: 10.35rem;
    top: 5.9rem;
} */

/* 填充物属性 */
.year-end-fragment li{
    position: absolute;
    background-size: contain;
    /* display: none; */
}

/* 移动时的渐变效果 ？？ 暂未生效 */
.year-end-fragment li.fragment-index-ac{
    transition: all .8s;
}

.fragment-btn1{
    width: 6.01rem;
    height: 5.08rem;
    left: 9.5rem;
    top: 12.78rem;
    z-index: 1;
    background: url(cbxres/总素材/第一层/辽宁.png) no-repeat;
}
.fragment-btn2{
    width: 6.90rem;
	height: 5.99rem;
	top: 18.55rem;
    left: 9.0rem;
    z-index: 5;
    background: url(cbxres/总素材/第一层/吉林地图.png) no-repeat;
}
.fragment-btn3{
    width: 8.73rem;
    height: 9.45rem;
    left: 0.31rem;
    top: 15.64rem;
    z-index: 1;
    background: url(cbxres/总素材/第一层/黑龙江.png) no-repeat;
}
/* .fragment-btn4{
    width: 5.23rem;
    height: 5.08rem;
    left: 1.21rem;
    top: 21.16rem;
    z-index: 5;
    background: url(res/Btn-4.png) no-repeat;
}
.fragment-btn5{
    width: 5.66rem;
    height: 5.01rem;
    left: 9.4rem;
    top: 22.41rem;
    z-index: 5;
    background: url(res/Btn-5.png) no-repeat;
}
.fragment-btn6{
    width: 4.54rem;
    height: 6.31rem;
    left: 10.79rem;
    top: 15.49rem;
    z-index: 5;
    background: url(res/Btn-6.png) no-repeat;
} */

/* 按钮回到坑的位置图 */
.year-end-fragment-indexBox-gai{
    width: 16rem;
    height: 12.23rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

/* 具体样式场景 */
/* 场景样式 */
.year-end-scene{
    width: 16rem;
    position: absolute;
    right: -16rem;
    top: 0;
}
.year-end-scene .scene-box{
    width: 16rem;
    position: absolute;
    z-index: 1;
    transition: all .5s;
    left: 0;
    top: 0;
}


.year-end-scene li.scene-box-index{
    left: -16rem;
}

/* 场景一 */
.scene-box-1{
    height: 34.6rem;
    background: url(新图/黑龙江.png) no-repeat;
    background-size: cover;
}
.xinwen1{
    width: 11.20rem;
    font-size: 0.6rem;
    text-align: justify;
    line-height: 0.9rem;
    margin: 0 auto;
    margin-top: 3.7rem;
    color: rgb(255, 255, 255);
}
.scene-box1-li-1{
    margin-top: 7.5rem;
}
/* 场景二 */
.scene-box-2{
    height: 34.6rem;
    background: url(新图/吉林.png) no-repeat;
    background-size: cover;
}
.xinwen2{
    width: 11.20rem;
    font-size: 0.7rem;
    text-align: justify;
    line-height: 1.1rem;
    margin: 0 auto;
    margin-top: 4.1rem;
    color: rgb(255, 255, 255);
}
.title2{
    color: #0C2950;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 4rem;
    /* margin-bottom: 0.1rem; */
}
.scnebox-2
/* 场景三 */
.scene-box-3{
    width: 16rem;
    height: 34.6rem;
    background-size: cover;
}

/* 场景四 */
.scene-box-4{
    width: 16rem;
    height: 27.05rem;
    background: url(https://f2.cri.cn/M00/18/B0/rBABCV_qyiiAc36zAAAAAAAAAAA5783986.scene4-bg.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* 场景五 */
.scene-box-5{
    width: 16rem;
    height: 27.05rem;
    background: url(https://f2.cri.cn/M00/18/B0/rBABCV_qyiiAc36zAAAAAAAAAAA5783986.scene5-bg.png) left bottom no-repeat;
    background-size: contain;
    overflow: hidden;
}

/* 场景六 */
.scene-box-6{
    width: 16rem;
    height: 27.05rem;
    background: url(https://f2.cri.cn/M00/18/B0/rBABCV_qyiiAc36zAAAAAAAAAAA5783986.scene6-bg.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}


.fanhui{
    width: 1.36rem;
    height: 1.52rem;
    background: url(res/fanhui.png) no-repeat;
    background-size: cover;
    display: none;
    position: absolute;
    top: 0.29rem;
    left: 0.59rem;
    z-index: 100;
}





/* 最后的海报 */
/* 海报 */
.haibao{
    width: 16rem;
    height: 27.05rem;
    background: url(res/haibao-bg1.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -16rem;
    z-index: 95;
    /* transition: all 1s; */
}

.haibao-titleBox{
    width: 14.17rem;
    height: 9.66rem;
    margin: 0 auto;
    text-align: center;
    background: url(res/haibao-bg2.jpg) no-repeat;
    background-size: cover;
    font-weight: bold;
    margin-top: 6.95rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 21px 0px rgba(150, 89, 56, 0.45);
}
.haibao-pic{
    display: none;
}
.haibao-title{
    color: #ae4141;
    font-size: 0.69rem;
    margin-top: 1.67rem;
    letter-spacing: .1rem;
}
.haibao-flag{
    margin: 0 auto;
    margin-top: 1.28rem;
}
.haibao-flag img{
    width: 100%;
    height: 100%;
}
.haibao-flag-list{
    display: none;
}
.huan{
    width: 2.92rem;
    height: 0.76rem;
    background: url(res/Button-h.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 5.57rem;
    bottom: 1.62rem;
}

.all-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
}
